<style>
{% for tag in product.tags %}
    {% if product.vendor == 'WM' and tag contains "Technical: Instock"%}
      .shopify-product-form::after {
    display: block!important;

 }
      {% endif %}
  {% endfor %}
  </style>
{{ 'jquery.min.js' | asset_url | script_tag }}
{% if product.available %}
{% if section.settings.show_payment_button %}
{% assign show_payment_button = true %}
{% elsif show_payment_button_quickshop %}
{% assign show_payment_button = true %}
{% else %}
{% assign show_payment_button = false %}
{% endif %}
{% assign variant = product.selected_or_first_available_variant %}
<div class="clearfix product_form init smart-payment-button--{{ show_payment_button }} {% if product.variants.size > 1 or product.options.size > 1 %}product_form_options{% endif %} product_form--{{ settings.product_form_style }} "
id="product-form-{{ product.id }}"
data-money-format="{{ shop.money_format }}"
data-shop-currency="{{ shop.currency }}"
data-select-id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
data-product="{{ product | json | escape }}"
{% if settings.limit_quantity or settings.display_inventory_left %}
data-variant-inventory='[{%- for v in product.variants -%}{"id":{{v.id}},"inventory_quantity":{{v.inventory_quantity}},"inventory_management":"{{v.inventory_management}}","inventory_policy":"{{v.inventory_policy}}"}{% if forloop.last == false %},{% endif %}{%- endfor -%}]'
{% endif %}
data-product-id="{{ product.id }}"
>
{% form 'product', product %}
  {% comment %}
  {% for tag in product.tags %}
    {% if product.vendor == 'WM' and tag contains "Technical: Instock"%}
      <span class="mw-product-options"></span>
      {% endif %}
    {% endfor %}
<span class="mw-product-options	{% for tag in product.tags %}
{% if tag contains "Technical: Onsale" %} hide {% endif %} {% endfor %}
{% for tag in product.tags %}
{% if tag contains "Technical: Instock" %} hide {% endif %} {% endfor %}             
             "></span>
  {% endcomment %}
    
   <!-- WM INSTOCK DROPDOWN -->
  {% for tag in product.tags %}
    {% if product.vendor == 'WM' and tag contains "Technical: Instock"%}
     <div class="select">
      <div class="tier-container">
         
         <label style="text-align: center; color: #8c006a">{{ product.options[0] }}</label>
         <a href=".whatsinctop" class="how-lightbox" id="how-img">
         <img src="//cdn.shopify.com/s/files/1/0024/8070/1503/files/Pricing-Tiers_1024x.jpg">
         </a>
         <select id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id" class="multi_select">
         {% for v in product.variants %}
         <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
         {% endfor %}
         </select>
      </div>
    </div>
    {% endif %}
  {% endfor %}
{% if product.options.size > 1 %}

   
<div class="select">
  <div class="tier-container {% for tag in product.tags %}{% if tag contains "Technical: Instock" or tag contains "Technical: Onsale" %} hide {% endif %} {% endfor %}             
            ">
     <label style="text-align: center">
     <a class="compare-a" style="color:#484848;" href="https://sexdollgenie.com/pages/all-payment-options-available-at-sdg" target="_blank">COMPARE PRICING TIERS 》</a>
     </label>
     <label style="text-align: center; color: #8c006a">{{ product.options[0] }}</label>
     <a href=".whatsinctop" class="how-lightbox" id="how-img">
     <img src="//cdn.shopify.com/s/files/1/0024/8070/1503/files/Pricing-Tiers_1024x.jpg">
     </a>
     <select id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id" class="multi_select">
     {% for v in product.variants %}
     <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
     {% endfor %}
     </select>
  </div>
</div>
{% elsif product.options.size == 1 and product.variants.size > 1 or product.options.size == 1 and product.options[0] != "Title" %}
<div class="select">
<div class="tier-container {% for tag in product.tags %}{% if tag contains "Technical: Instock" or tag contains "Technical: Onsale" %} hide {% endif %} {% endfor %}">             
  <label style="text-align: center">
   <a class="compare-a" style="color:#484848;" href="https://sexdollgenie.com/pages/all-payment-options-available-at-sdg" target="_blank">COMPARE PRICING TIERS 》</a>
   </label>
   <label style="text-align: center; color: #8c006a">{{ product.options[0] }}</label>
   <a href=".whatsinctop" class="how-lightbox" id="how-img">
   <img src="//cdn.shopify.com/s/files/1/0024/8070/1503/files/Pricing-Tiers_1024x.jpg">
   </a>
   
   <select id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id">
   {% for v in product.variants %}
   <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
   {% endfor %}
   </select>
  </div>
</div>
  
<!--   WGS NOTICE STARTS HERE -->
  <div id="wgs-notice">
    <p>Free Storage Case for White Glove orders is TEMPORARILY unavailable due to shipping delays and price hikes. All other White Glove features like expedited production, free heads, etc are still available. You can still purchase a case with your order separately. Thanks for your cooperation and understanding - SDG Team.</p>
  </div>
  
<!--   WGS NOTICE ENDS HERE -->
  
   {% if product.type == 'Torso'  %}
  	<label class="wgs-torso">Storage Case is not included in this White Glove Services purchase.</label>
  {% endif %}
{% else %}
<input type="hidden" name="id" value="{{ variant.id }}" />
{% endif %}
{% if settings.product_form_style == "swatches" and product.variants.size > 1 or settings.product_form_style == "swatches" and product.options[0] != "Title" %}
<div class="swatch_options">
   {% for option in product.options %}
   {% include 'product-swatch' with option %}
   {% endfor %}
</div>
{% endif %}
{% if settings.display_inventory_left %}
<div class="items_left">
   {% if variant.inventory_management != blank and variant.inventory_quantity > 0 %}
   {% capture items_left_text %}
   {% if variant.inventory_quantity == 1 %}
   {{ 'products.product.items_left_count.one' | t }}
   {% else %}
   {{ 'products.product.items_left_count.other' | t }}
   {% endif %}
   {% endcapture %}
   {% if variant.inventory_quantity <= settings.inventory_threshold %}
   {{ variant.inventory_quantity }} {{ items_left_text }}
   {% endif %}
   {% endif %}
</div>
{% endif %}
<div class="purchase-details">
   {% if settings.display_product_quantity %}
   <div class="purchase-details__quantity product-quantity-box hide">
      <label for="quantity">{{ 'products.product.quantity' | t }}</label>
      <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
      <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if settings.limit_quantity and variant.inventory_management != blank and variant.inventory_policy == "deny" %}max="{{ variant.inventory_quantity }}"{% endif %} />
      <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
   </div>
   {% endif %}
       
   <div class="purchase-details__buttons purchase-details__spb--{{ show_payment_button }}">
      {% if settings.cart_action == 'reload_page' %}
      <input type="hidden" name="return_to" value="back" />
      {% elsif settings.cart_action == 'redirect_checkout' %}
      <input type="hidden" name="return_to" value="/checkout" />
      {% endif %}
  
      {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
      <button {% if show_payment_button == false %} id="AddToCart" {% endif %} type="submit" name="add"  class="action_button add_to_cart {% if show_payment_button %} action_button--secondary {% endif %}" data-label={{ add_to_cart_label | json }}>
      {% if product.type == "Doll" %}
      <span class="text">Buy Now - As Shown in Photos</span> 
      {% else %}
      <span class="text">Add to Cart</span> 
      {% endif %}
      <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark">
         <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
      </svg>
      </button>
     <div class="btm-ccimg">
                        <img src="//cdn.shopify.com/s/files/1/0024/8070/1503/t/36/assets/checkout_icon.png?v=1602490363" />
                     </div>
     <p class="btc-ann">Pay with <b class="btcanncss">Bitcoin</b> or <b class="btcanncss">Ethereum</b> and Get Special Pricing. Email <b class="btcanncss">janet@sexdollgenie.com</b> with Your Shopping Cart Details!</p>
      {% if show_payment_button %}
      {{ form | payment_button }}
      {% endif %}
   </div>
</div>
{% comment %}
<div class="chckout-img">
   <img src="https://cdn.shopify.com/s/files/1/0024/8070/1503/t/7/assets/checkout_icon.png?6571394546326054395" />
   <b>
      <p style="font-size:13px">Choose from 8 different payment options. See all our convenient payment options here.<a href="https://sexdollgenie.com/pages/all-payment-options-available-at-sdg"> Learn More.</a></p>
   </b>
   <div class="interest-div"> 
   </div>
</div>
{% endcomment %}

                                  
  <div class="mws-options"></div>
   <button id="AddToCartMWS" type="submit" name="add"  class="action_button add_to_cart">
      <span class="text">Add to Cart</span> 
    </button>

           
{% endform %}
{% include 'banana-stand-product-page-container' %}
<div id="cbb-frequently-bought-box"></div>
</div>
{% endif %}

<script>
var options = document.querySelectorAll('.mw-option__value');

options.forEach(function(option) {
  option.addEventListener('click', function() {
    var selectedOption = option.querySelector('.mw-option__control:checked');
    if (selectedOption) {
      selectedOption.checked = false;
      option.classList.remove('mw-option__value--selected');
    } else {
      var radio = option.querySelector('.mw-option__control');
      var otherSelectedOption = document.querySelector('.mw-option__control:checked');
      if (otherSelectedOption) {
        otherSelectedOption.checked = false;
        otherSelectedOption.parentElement.parentElement.parentElement.classList.remove('mw-option__value--selected');
      }
      radio.checked = true;
      option.classList.add('mw-option__value--selected');
    }
  });
});

</script>